body {
  font-size: 2rem;
}

.game-layout {
  margin: 2rem;
}

.game-grid {
  margin: 0 auto;

  tr {
    border-collapse: collapse;
  }

  td {
    width: 4rem;
    height: 4rem;
    border: 1px solid black;
  }
}

// Dev styles
.dev_note {
  font-size: 0.5em;
  color: #aaa;
}