@import 'styles/_reset.scss';
@import 'styles/_variables.scss';

// Elements

header {
  text-align: center;
}

h1 {
  margin: 0 0 1rem;
}

h2 {
  margin-bottom: 1rem;
  font-size: 1.2em;
}

button {
  padding: 0.5rem 1rem;
  border: 4px double black;
  background: white;
  font-size: 0.9rem;
  text-transform: lowercase;

  .emphasis {
    font-weight: bold;
    border-width: 5px;
  }
}

ul {
  margin: 1rem 0 0;
  padding: 0;
}

li {
  margin: 0.25rem 0;
}

svg {
  margin: 0 0.5em;
}

// Classes

.game-layout {
  margin: 2rem 1rem;

  & > header {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    margin: 2em 0;
  }

  .button_container {
    //display: grid;
    //align-content: center;
  }
}

.game-board {
  text-align: center;
  margin: 2.5em 0 0;

  .message {
    width: 75vw;
    margin: 1rem auto;
  }
}

.legend {
  text-align: center;
}

.game-grid {
  //font-family: "Courier New", "Courier", monospace;
  //font-weight: bold;
  margin: 1rem auto 2.5rem;
  border-collapse: collapse;
  font-size: 1.5rem;

  td {
    position: relative;
    width: $cell-width_small;
    height: $cell-width_small;
    border: 1px solid black;
  }

  small {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    color: #aaa;
  }

  .grid-item {
    display: block;
    text-align: center;
  }
}

.info-container {
  p {
    display: inline-block;
    margin: 0 1rem 0 0;
  }
}

// IDs

#root {
  font-family: 'Open Sans', sans-serif;
  text-transform: lowercase;
}

